*{
    margin: 0;
    padding: 0;
}

body{
    background: #587294;
}

header{ /* ROUGE */
    height: 10em;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
    background-color: red;
}

header h1{
    padding-top: 0.5em;
    text-align: center;
    font-size: 300%;
    color: black;
}

header p{
    padding-top: 0.5em;
    text-align: center;
    font-size: 200%;
    color: black;
}

.col1{ /* VERT */
    position: fixed;
    width: 20%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
    background-color: green;
}

.col1 label, .col1 select{
    font-size: 2em;
    color: black;
}

.col1 button{
    font-size: 2em;
    color: black;
}

.col2{ /* JAUNE */
    position: fixed;
    right: 0;
    width: 70%;
    min-height: 60%;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
    background-color: yellow;
}

/* Styles pour les images */
/* .col2 img {
    position: relative;
    width: 20%;
    border : 20px solid #2A4C8E;
    border-radius: 20px;
} */