body{
    background: #587294;
}

header{
    position: relative;
    padding: 15px;
    margin: 15px;
    background: #416288;
    border-radius: 10px;
}

aside{
    display: flex;
}

.col1{
    position: relative;
    width:25%;
    padding: 15px;
    margin: 15px;
    background: #416288;
    border-radius: 25px;
}

.col2{
    position: absolute;
    right: 20px;
    width: 68%;
    padding: 15px;
    margin: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background: #416288;
    border-radius: 25px;
}

/* Styles pour les images */
.col2 img {
    position: relative;
    width: 20%;
    border : 20px solid #2A4C8E;
    border-radius: 20px;
}

aside section{
    display: flex;
    flex-direction: column;
}

aside .col1 select, aside .col1 label{
    width: fit-content;
}